[2017-12-27 13:01] Braintelligence opened #4 "Change runserver to Gunicorn"
Hi, I'm trying to run this within Rancher by using https://github.com/adi90x/rancher-active-proxy

I get these errors:
[code]

Maybe using "0.0.0.0:8000" for runserver is the culprit?

I connect a random local host port to the container port 8000, then rancher-active-proxy works with that. Works flawlessly for many containers up till now.

[2017-12-27 13:50] galexrt commented on #4
Could you exec into the container and run `ss -tulpn`. The output should look like this:
[code]

[2017-12-27 13:52] Braintelligence commented on #4
![grafik](https://user-images.githubusercontent.com/6761196/34383444-7e1409a2-eb15-11e7-9073-7c74a45dafce.png)

[2017-12-27 13:54] Braintelligence commented on #4
Ok sorry, I'm dumb. I set the wrong port in the labels that the proxy container is listening to. It tried to connect to port 80 on the healthchecks container.

How I get this as DJANGO error, though:
DisallowedHost at /
Invalid HTTP_HOST header: 'my.domain.com'. You may need to add 'my.domain.com' to ALLOWED_HOSTS.

I know I can set this in settings.py (I'm a Django user myself) but maybe there's

[2017-12-27 13:58] galexrt commented on #4
About `ALLOWED_HOSTS` you would add an env var named `HC_ALLOWED_HOSTS` with value `["my.domain.com"]` for example (yes with the square brackets and quotes).

I'm not a python developer, I just followed their instructions so I could run healthchecks.
If you let me know what server/application is normally used to run healthchecks in production I'm happy to implement it or take a PR. :)

[2017-12-27 14:05] Braintelligence commented on #4
Oh sure, normally you use Gunicorn for the WSGI interface and just let it run at startup.

Here's a documentation on how to do this:
- https://www.digitalocean.com/community/tutorials/how-to-set-up-django-with-postgres-nginx-and-gunicorn-on-debian-8#adjust-the-project-settings
- https://www.digitalocean.com/community/tutorials/how-to-set-up-django-with-postgres-nginx-and-gunicorn-on-debian-8#creat

[2017-12-27 14:06] galexrt commented on #4
Thanks! I'll look into it. :+1:
I'll try to get to it on the weekend, when I have the time. :)

[2017-12-27 14:07] Braintelligence commented on #4
Thanks, that would be awesome. Until then I'll be using this for a test-drive.

[2017-12-27 14:56] Braintelligence opened #5 "Environment Variables for settings.py"
You should allow setting of Telegram for the settings.py via environment variables.

https://github.com/healthchecks/healthchecks/blob/master/hc/settings.py#L156

[2017-12-27 14:57] galexrt commented on #5
@Braintelligence You just the variable name and add `HC_` before and add it to the environment variables.

[2017-12-27 14:59] Braintelligence commented on #5
Oh sorry, I thought only stuff worked, that was explicitly mentioned in the entrypoint.sh

[2017-12-27 15:07] galexrt commented on #5
I may need to add the variables that are "special" cases (integer, arrays) but overall that should work for most config options.

[2017-12-27 15:11] Braintelligence commented on #5
Do I need to use string brackets for those variables on the right side?

[2017-12-27 15:13] galexrt commented on #5
For string values not, quotes are added around your variable, see https://github.com/galexrt/docker-healthchecks/blob/master/entrypoint.sh#L75

[2017-12-27 15:15] Braintelligence commented on #5
What would be the easiest way to check the contents of the settings.py currently? There's no nano or vim available in the container T_T

[2017-12-27 15:16] galexrt commented on #5
Use `cat PATH_TO_SETTINGS_PY`, `less` or `more` (depending on which is installed, cat should be installed).

[2017-12-27 15:26] Braintelligence commented on #5
Hm, the settings.py seems to be correct but the Telegram Bot doesn't react =/... I can't seem to find any debugging info.

[2017-12-27 15:34] Braintelligence commented on #5
Same for mail, actually. I can't see any errors in the container logs but mails aren't being sent.

[2017-12-27 16:05] Braintelligence commented on #5
@galexrt I want to set DEBUG = False in the settings.py but you already have DEBUG in there resulting in a server error if I do this by HC_DEBUG = False

[2017-12-27 16:06] Braintelligence commented on #5
Also it seems that the settings are just copied at the end of the settings.py ... does this work that way? Theoretically you can overwrite variables by just setting it anew, but this creates a lot of spam in the settings.py

[2017-12-27 16:07] Braintelligence commented on #5
Oooooh, wait a second. I think those come from upgrading the container with new environment variables.

[2017-12-27 16:08] Braintelligence commented on #5
Did you create the container in such a way, that if it is restarted with new environment variables, it would just put them under the settings.py without checking if they were already set?

[2017-12-27 16:18] Braintelligence commented on #5
Yeah, overwriting of the variables works, but it seems you can't do:
`DEBUG = True`
then
`DEBUG = False`
you get HTTP 500 then.

[2017-12-27 16:29] Braintelligence opened #6 "SECRET_KEY should be randomly set"
You shouldn't set the SECRET_KEY to `---`.
Instead you should generate a random secret key, that you can't derive from reading the Dockerfile or related scripts.
Having `DEBUG = True` active is risky enough, but then having a well-known SECRET_KEY is just too much.

[2017-12-27 16:29] Braintelligence commented on #5
Actually you get HTTP 500 if setting `DEBUG = False` in every case... I need to find out if you can even do runserver without it.

[2017-12-27 16:40] Braintelligence opened #7 "Fully Qualified Hostname has to be set for E-Mails"
When trying to send mails I got this:

[code]

After setting the FQDN in the container this didn't happen anymore, I get a HTTP 200 instead. But I still don't get mails it seems. Will look into this.

[2017-12-27 16:41] Braintelligence opened #8 "No need for virtualenv"
Since we only run one Python app in the container we don't need to use virtualenv.
Just use pip install on the globally installed Python3.

[2017-12-27 16:49] galexrt commented on #6
When the `SECRET_KEY` is changed you may lose data in the database, that is why it is not randomly set. The user should set it himself.
You can only read the value of the env var when you are on the host the container runs on or the debug mode leaks something.

[2017-12-27 16:51] Braintelligence commented on #6
https://docs.djangoproject.com/en/2.0/ref/settings/#secret-key

The secret key has nothing to do with data in the database. It is used for cryptographic signing of dynamic data first and foremost.

There are cases in which you might choose to use the SECRET_KEY for signing static data but this is not recommended and not done by default.

There are many Django apps out there resetting the SECRET_KE

[2017-12-27 16:52] Braintelligence commented on #6
You can read the value of the settings.py by just triggering errors on the web-app. A debug window with a lot of information will open exposing a lot of data, that nobody should know.

That's why you are never supposed to used a Django web app in production with Debug = True.

[2017-12-27 17:07] Braintelligence commented on #6
Just to clarify, though:
I meant generating a random SECRET_KEY only once, when the container is first created and no SECRET_KEY has been set.

The setting of the SECRET_KEY should happen in form of setting a SECRET_KEY environment variable within the container and then invoking it in the settings.py like so:

First, set the environment variable either in the .bash_rc (or something similar) or, ev

[2017-12-27 17:08] galexrt commented on #7
That is a configuration specific issue to healthchecks, not an issue of the Docker image.

[2017-12-27 17:08] #7 closed

[2017-12-27 17:12] Braintelligence commented on #7
How so?
The FQDN is set within the OS. Why is a Django app obliged to do this for you, without root permissions?

[2017-12-27 17:19] Braintelligence commented on #6
Actually you could set all settings.py variables this way.
Then you wouldn't spam new lines, everytime you upgrade the container.

[2017-12-27 17:22] #8 closed

[2017-12-27 17:22] galexrt commented on #6
@Braintelligence When you upgrade the container, the container is deleted due to a new image used so no "double" lines.
Still it doesn't matter

[2017-12-27 17:22] #6 closed

[2017-12-27 17:23] galexrt commented on #8
Python virtualenv has been removed now.

[2017-12-27 17:25] Braintelligence commented on #6
If you upgrade the container while using a volume, since no one in their right mind would want the SQLite (or any other database) to just vanish, if they need to upgrade the container, then your script is just adding duplicate lines to the already existing and preconfigured settings.py.

Do I understand correctly, that you seem to have no interest in providing more security and less DRY in this re

[2017-12-27 17:31] Braintelligence commented on #6
I'm sorry, I may have misunderstood your intentions, seeing how you incorporated some stuff in commits now.

If you want we can just let some time pass, then I might find the time to incorporate setting all the settings.py variables by container-environment-variables, thus removing the DRY-stuff.

[2017-12-27 17:41] Braintelligence commented on #5
More info here:
https://github.com/healthchecks/healthchecks/issues/115#issuecomment-354139539

Maybe we should have this command be invokable by docker, without going into the container.

[2017-12-27 17:42] galexrt commented on #6
I have added generation of `SECRET_KEY` when it is empty. Isn't that what you wanted with this issue and #8 ?

The `SECRET_KEY` is always (re)generated when it is empty and the container starts, depending on how you see it this either encourages users to set it or leave it empty and lose the sessions on container restarts.

Also a volume should point to the sqlite file/ database files and not the

[2017-12-27 17:44] galexrt commented on #6
I just saw your new comment (as my internet didn't show the comment when I started writing the comment).
If the feature as I implemented isn't after your thoughts, let me know and I'm happy to change it as long as I'm also happy with it ;)

[2017-12-27 17:49] Braintelligence commented on #6
(Glad you saw it now)

Actually I mounted the whole healthchecks folder to a docker volume, so I can upgrade the container whenever I want to. From what I'm accustomed to, this is the basic design principle behind docker apps:

Whenever there's a new version of a container or whenever you want to change environment variables or ports and stuff, you can just kill the container and build it anew. If

[2017-12-27 17:49] galexrt commented on #5
There is a way to invoke `manage.py` commands through the `entrypoint.sh`, but it isn't documented, could you create a separate issue to document that?

[2017-12-27 17:51] Braintelligence opened #9 "Add how to invoke manage.py subcommands to the documentation"
For stuff like this: https://github.com/galexrt/docker-healthchecks/issues/5#issuecomment-354148791
we need to document how to invoke manage.py subcommands with docker.

[2017-12-27 17:51] Braintelligence commented on #5
Done

[2017-12-27 18:10] galexrt commented on #6
Yes as your wrote for Docker you should only mount the data (sqlite file in this context). There should hopefully be a variable in Healthchecks to change the path of the sqlite file, if not I'm getting creative and think of something to change the path to something better than inside the application code.
This way the sqlite file could be moved to for example `/data`, then you only mount `/data` a

[2017-12-27 18:17] Braintelligence commented on #6
This sounds great.
Actually I switched to using mysql now, just in case.

I will try to commit a PR with my ideas for the settings.py.

But if we can run this on Gunicorn without having the debug site exposed, then this should be a lot closer to production-ready.

[2017-12-27 18:41] galexrt commented on #9
Is this section good enough https://github.com/galexrt/docker-healthchecks#run-managepy-inside-the-container ?

[2017-12-27 20:16] Braintelligence commented on #9
Yeah I think so.
I've seen other docker containers with shorter docker commands. For example I've never seen a `/entrypoint.sh` there before the subcommands.
Can this be shortened?

[2017-12-27 20:17] Braintelligence commented on #4
Is the current commit working? It says `ImportError: No module named django.core.management` when trying to run, which normally means, that Django isn't installed for the invoking python binary.

[2017-12-27 22:39] galexrt commented on #9
@Braintelligence It would be either the "shortcut" `/entrypoint.sh` or `python3 /healthchecks/manage.py` which is even longer.

[2017-12-27 22:43] Braintelligence commented on #7
What I said is correct, though I found out that I can use port 587 for authenticated sending, which doesn't need a FQDN.
So this doesn't necessarily need to be corrected.

[2017-12-27 22:51] Braintelligence commented on #9
https://github.com/pydanny/cookiecutter-django does it like this: http://cookiecutter-django.readthedocs.io/en/latest/deployment-with-docker.html#run-your-app-with-docker-compose

This should be docker exec commands, from what I know.

I thought maybe we could use a similar structure.

[2017-12-27 22:55] galexrt commented on #9
It is a `docker exec`, the `/entrypoint.sh` is from inside the container.

https://github.com/galexrt/docker-healthchecks#run-managepy-inside-the-container

What do you mean exactly?

[2017-12-27 23:17] Braintelligence commented on #9
I meant a structure like this: `docker-compose -f production.yml run django python manage.py shell`

Reworked for exec.

So exec would look something like
`docker exec -it CONTAINER_NAME python manage.py ARGUMENT`

Is it possible to leave out the entrypoint.sh in the exec invoke and make like a switch-case?
Something like

[code]

[2017-12-27 23:26] galexrt commented on #9
@Braintelligence That is what the `entrypoint.sh` script does. See https://github.com/galexrt/docker-healthchecks/blob/master/entrypoint.sh#L132-L135 and https://github.com/galexrt/docker-healthchecks/blob/master/entrypoint.sh#L142-L155.

[2017-12-28 00:47] galexrt commented on #4
The issues are now fixed. At least for me the basic web interface worked, couldn't test login because SSL is required for the CSRF tokens..
It now doesn't use virtual env, but now uses gunicorn and nginx for production usability.

[2017-12-28 00:57] Braintelligence commented on #4
I'm building it right now.
I create the images by using the docker-compose build from git route.

[2017-12-28 01:06] Braintelligence commented on #4
One thing that pops to my mind is that you forgot to set `DEBUG = False`, but I can't get it to run currently. I get HTTP 500.
Trying to get it to work now.

[2017-12-28 01:51] Braintelligence commented on #4
Something seems to have went wrong when installing build-essentials and python3-dev, because I couldn't even run python3 manage.py runserver within the container. Django was missing.
Trying to pip install django didn't work because build tools were missing.

Is this because you ran pip install with `--user` ?

[2017-12-28 01:55] Braintelligence commented on #4
I see, you're removing everything after install.
Well it's getting really late. I will look into this tomorrow.
But for now I can't get this to work =/. I only get HTTP 500 and just can't tell what's going on, because the logs aren't showing anything relevant to me.

[2017-12-28 09:13] galexrt commented on #4
The issue was that a call to `manage.py compress` is needed when running `DEBUG = False`.
This has been fixed now in the latest commits.
Now I'm getting a HTTP 200 and a working Healthchecks frontend.

[2017-12-28 15:05] Braintelligence commented on #4
Yeah it works now. Awesome. I guess this can be used productively now 👍 (I do, at least)

[2017-12-28 15:06] galexrt commented on #4
@Braintelligence I hope so. :-) Could you please go ahead and check the issues you created if they have been resolved or still need work done?
If you have any other questions or find something that isn't documented well enough, please let me know.

[2017-12-28 15:16] Braintelligence commented on #4
Well this is resolved

[2017-12-28 15:16] #4 closed

[2017-12-28 15:17] Braintelligence commented on #5
This is something I might work on in a later PR, if it's ok with you we can keep this open until then.

[2017-12-28 15:17] Braintelligence commented on #9
This is documented and alright.

[2017-12-28 15:17] #9 closed

[2017-12-28 15:18] galexrt commented on #5
@Braintelligence Yes, is it okay if I assign this issue to you then?

[2017-12-28 16:08] Braintelligence commented on #5
Sure

[2018-02-06 23:25] jhnlsn opened #11 "Start sendalerts with supervisord"
The current docs recommend managing the sendalerts command with supervisord.  I'm not super familiar with it, but might attempt the change and submit a PR.

[2018-02-08 09:15] #11 closed

[2018-02-09 16:45] jhnlsn opened #13 "PagerDuty Vendor Key issue"
the PD vendor key starts with a number, which causes the entrypoint script to write it as an invalid python variable.  I'm not super familiar with bash switch statement evaluations but I'm going to take a stab at fixing it.

[2018-02-10 04:21] jhnlsn commented on #13
I think I'm just using the wrong value.

[2018-02-10 04:21] #13 closed

[2018-03-11 11:46] paulgit opened #14 "'CSRF verification failed' when trying to login"
Hi, I have tried to test your docker image on two systems now, but each time I try to log in I get the following error in my browser

Do you have any idea what the problem is?

[2018-03-11 11:57] galexrt commented on #14
@paulgit Could you please provide information on how you run the docker image?

Following information would be good:
* Docker version
* Which image is used (hash)
* Environment variables given in the `docker run` command

[2018-03-11 12:18] paulgit commented on #14
Sorry, I should have sent that in my original post!

- Docker version 1.13.1, build 092cba3
- Image sha256:f053f35668022c5c89e0566451e8b5e4e3f8bb3b0d16e7357cd10e2356994398
- Environment variables as follows:
[code]

I am trying to run this on Ubuntu 16.04.4

[2018-03-11 12:31] paulgit commented on #14
I have also just installed the latest docker and get the same error

[code]

[2018-03-11 13:06] paulgit commented on #14
Some further information, if I use your 'dev' version of the docker image I can log in ok

[2018-03-11 13:25] galexrt commented on #14
@paulgit The problem is that Healthchecks needs to be run behind https (with proxy protocol headers passed through).
The cookies for CSRF verification are only allowed to be sent through securely through https.

So to make healthchecks work, you need to put a https proxy in front of it.
An example on how to do that is https://github.com/jwilder/nginx-proxy.
I will add a note to the README that htt

[2018-03-11 13:29] #14 closed

[2018-03-11 13:29] galexrt commented on #5
@Braintelligence Any news on this?

[2018-07-03 06:12] galexrt commented on #5
@Braintelligence ping

[2018-08-26 01:31] hthuong09 opened #15 "Keep getting "Referer checking failed does not match any trusted origins.""
I keep getting this error when trying to login with an email. I don't know if something went wrong in my configurations.

#### docker-compose service
[code]
Not sure if `HC_CORS_ORIGIN_ALLOW_ALL` and `HC_CSRF_TRUSTED_ORIGINS` are configurable.

#### nginx-reversed proxy
I'm using [linuxserver's letsencrypt container](https://hub.docker.com/r/linuxserver/letsencrypt/) with the following config:
[co

[2018-08-26 16:02] galexrt commented on #15
You need to add the address of the letsencrypt proxy to `HC_ALLOWED_HOSTS` or "just" use `*` in the `HC_ALLOWED_HOSTS` array list, though one would need to secure the healthchecks container as then any host would be "trusted".

[2018-08-27 01:30] hthuong09 commented on #15
Hi @galexrt, `healthcheck.[censored]` is the address of the letsencrypt proxy. I did tried `["*"]` but it didn't work.

[2018-08-27 13:12] galexrt commented on #15
@hthuong09 Have you already tried setting the IP address instead of DNS name?
Also try `HC_CSRF_TRUSTED_ORIGINS=["healtcheck.whatever", "localhost", "127.0.0.1"]` as suggested in https://stackoverflow.com/a/38842030.

[2018-10-20 07:47] michidk opened #16 "Kubernetes Example"
Hello,

thanks for this great image!
In case anyone needs this, here is a deployment, ingress, service example for Kubernetes using this image:
[code]

[2018-10-20 07:47] #16 closed

[2019-03-31 14:11] derphilipp opened #19 "Hint: How to circumvent problems with ":" (Telegram Token)"
Setting `TELEGRAM_TOKEN` causes problems as it contains a ":" symbol and is not escaped properly by the entrypoint script.

Workaround:

To properly add a `TELEGRAM_TOKEN` that contains a : symbol, you can set it in your `docker-compose.yml` via
[code]

This way it gets rewritten into the generated `settings.py` as
[code]

[2019-03-31 17:46] galexrt commented on #19
@derphilipp How is it inserted normally when specifying the token as is without additional quotes? Is it added as a plain string or in qoutes?

[2019-04-01 08:28] derphilipp commented on #19
If you add it like this:
[code]
It works in terms of importing, but in the file it becomes
[code]

which results in an error, because the string is not inside quotes, etc.
I have played around with single quotes, double quotes, escaped quotes etc - but they have some issues besides the solution given above. Therefore I wanted to share that info 😄

[2019-04-01 11:36] galexrt commented on #19
@derphilipp I'll push a fix in a few minutes.

[2019-04-01 11:42] galexrt commented on #19
@derphilipp Fix pushed in ea0a474c464c44902cea11a9679556fc5f487775.

Let me know if that fixes the issue for you (image should be built in around 10 minutes or so on Docker Hub).

[2019-04-10 02:02] madleech opened #20 "/entrypoint.sh: line 79: [: too many arguments"
Getting the following errors when deploying `:latest` to ECS on Amazon:

[code]

Environment variables:
[code]

I can't see anything obviously wrong with the `entrypoint.sh` script. Any ideas?

[2019-04-10 09:55] denis-ev commented on #20
@madleech have you tried setting the HC_ALLOWED_HOSTS as '['*']' ?

[2019-04-10 17:10] tscs37 commented on #20
I've run into the same error, setting HC_ALLOWED_HOSTS doesn't seem to fix it.

[2019-04-10 18:09] denis-ev commented on #20
@madleech @tscs37 I created a pull request, should fix the issue.

[2019-04-10 23:55] madleech commented on #20
Thanks, that did the trick. That trailing `||` is easy to miss. Will keep this open till #21 is merged,

[2019-04-11 08:56] #20 closed

[2019-06-21 13:08] Braintelligence commented on #5
Oh wow, I'm sorry for not reacting to your comments O_O.

I get flooded with GitHub mails so much due to Mailcow, that I missed this entirely.

I just stumbled on this because I moved my healthcheck stack from one server to another. Is this here still a thing?

[2019-06-21 15:42] galexrt commented on #5
@Braintelligence Yes, this project is still a thing. I had hoped you work on the PR for this feature as you commented earlier.

What is the status on your side?

[2019-06-21 16:01] Braintelligence commented on #5
@galexrt Hey, currently I'm super busy. No free time I'm afraid :(. By "here" I meant the this ticket btw.

[2019-10-21 13:50] Kikobeats opened #22 "[Question] How to change logo placeholder"
Hello,

Thanks for this image, it's very useful 🙂

I didn't see a way for changing the default logo placeholder; I searched inside healthchecks repository without success.

Any idea how to do that?

[2019-12-16 14:17] Foddy opened #23 "The latest build fails…"
The latest build is failing to start. It used to work a week ago?

[code]

[2019-12-16 14:34] galexrt commented on #19
Closing as a fix has been pushed and I wasn't able to repro it.

[2019-12-16 14:34] #19 closed

[2019-12-16 14:35] #23 closed

[2019-12-16 14:36] galexrt commented on #23
I have pushed a fix in b84b85d.
New images should be built in a few minutes from now.

The issue seems to be caused by the `CHANGELOG.md` file which for some reason has an invalid encoded character in it and causes the compress and other `manage.py` commands to fail.

[2019-12-16 15:01] Foddy commented on #23
Thank you for your fast reply. Unfortunately the build process is failing now :S
https://quay.io/repository/galexrt/healthchecks

[2019-12-16 19:31] galexrt commented on #23
@Foddy Damn, yeah it seems that the current `master` of healthchecks/healthchecks has switched / updated to Django 3. Django 3 doesn't seem to able to be able installed.
The `master` image now installs `v1.11.0`, see 90150a56839a41b48788fb4ef8763cd463089976.

[2019-12-16 19:32] galexrt commented on #22
@Kikobeats You would need to mount a png file as a volume over the logo image.
Which would be located at `/healthchecks/static/img/logo-full.png` inside the container / image.

See https://github.com/healthchecks/healthchecks/blob/master/static/img/logo-full.png

[2019-12-16 21:44] Kikobeats commented on #22
hum, why not use a Docker env variable?

[2019-12-17 12:05] galexrt commented on #22
@Kikobeats Because healthchecks doesn't have an env var for the logo path.

[2019-12-17 12:59] Kikobeats commented on #22
👍 thanks for reply 🙂

[2019-12-17 12:59] #22 closed

[2020-01-17 14:01] BobCashStory commented on #23
Any update on that?

[2020-01-18 09:14] galexrt commented on #23
@BobCashStory What do you mean? The image uses the `v1.11.0` tag and has been built fine as can be seen on Quay.io (see above link).

"in this version" means, that the "now" latest build using `v1.11.0` has that problem?
Have you made sure it is not a browser caching issue?

[2020-01-20 13:11] BobCashStory commented on #23
in the v1.11.0 on the url `[host]/admin`, i get 404 for all css file from `[host]/static/admin/css/base.css` net::ERR_ABORTED 404
if i check the repo files should be get into `[host]/static/css/base.css` .

[2020-01-20 13:34] galexrt commented on #23
@BobCashStory That is probably a configuration issue in some ways.
This Healthchecks project issue seems to be related https://github.com/healthchecks/healthchecks/issues/150 though there isn't a clear answer on that issue.

[2020-01-22 15:27] BobCashStory commented on #23
Okay thanks, and about using the lasted version do you have any update to be on `v1.12.0`

[2020-01-22 16:56] galexrt commented on #23
@BobCashStory please create a new issue for that.
v1.12.0 has been released a few days ago, hoping they have updated their instructions it shouldn't be long.

[2020-01-22 21:34] galexrt opened #24 "Update healthchecks to v1.12.0"
The Docker image should be updated to install / use healthchecks v1.12.0 release.

/cc @BobCashStory

[2020-01-22 21:37] galexrt commented on #24
Done in https://github.com/galexrt/docker-healthchecks/commit/812fd4c7046728b9012235fc655e8aa91894999d.

I did some quick local testing and it seemed to work fine on v1.12.0.
@BobCashStory Could you please try it out as well to see if the static content files for the admin are working now? In hopefully a few minutes Docker Hub and [Quay.io](https://quay.io/repository/galexrt/healthchecks?tab=info)

[2020-01-22 21:37] #24 closed

[2020-02-05 16:47] riderx opened #25 "Iframe not possible CSRF verification failed. Request aborted."
i wanna use my deployer healthcheck in a https iframe from the same main domain but i can't .

Why do you include an nginx service inside a docker ?

[2020-02-05 21:16] galexrt commented on #25
So is your question how to fix the CSRF verification failed issue or why the image has an nginx server in it? Because nginx isn't directly related with "CSRF verification failed" message(s).

To not get CSRF verification failed messages, see the README:

Nginx is used for serving the static files and "proxying" to the application itself: https://github.com/galexrt/docker-healthchecks/blob/master/i

[2020-02-06 08:54] riderx commented on #25
Sorry i was suspecting nginx to don't allow iframe.

My healthcheck is reachable, only login doesn't work if i'm in iframe.

i'm more suspecting the CSRF config to don't allow usage of iframe : https://stackoverflow.com/questions/53621161/django-csrf-cookie-not-set-in-iframe-workaround-without-csrf-exempt

[2020-02-06 09:01] riderx commented on #25
i use already transparent proxy like this:
[code]

[2020-02-06 17:03] galexrt commented on #25
So you want to embeded healthchecks inside an iframe?

Tryout the Django CSRF config you posted and / or ask at the healthchecks project about the settings you need. Also your reverse proxy must have HTTPS enabled for the cookies to be transmitted "correctly".

From this project side I'm going to close this issue in a bit, as at least of right now this does not seem like an issue with the Docker i

[2020-02-09 16:23] BobCashStory commented on #25
Okay i did it : https://github.com/healthchecks/healthchecks/issues/326

[2020-02-22 18:12] jeliasson opened #26 "Postgres database not being selected"
Hi,

According to docs, `DB_TYPE` should be set to `postgres`. However, in the source `hc/settings.py` it looks like `DB` should be set as `postgres` - hence `HC_DB` rather than `HC_DB_TYPE`. The intresting part tho, non of them works and output of `hc/local_settings.py` will show a connection to SqlLite3.

**Envs**
[code]
**/healthchecks/hc/local_settings.py**
[code]

Any thoughts?
Thanks!

[2020-02-22 18:39] galexrt commented on #5
Closing as the healthchecks project uses env vars to read its config from.

[2020-02-22 18:39] #5 closed

[2020-02-22 18:42] galexrt commented on #26
You can just use the env vars from the healthchecks project settings.py now.
I have removed all the entrypoint code to do any custom configuration, so the `settings.py` comes into full effect.

So does removing the `HC` in front of your env vars work with the latest image? (Quay.io image is already uptodate, Docker Hub still needs a few more minutes to auto build).

[2020-02-22 23:50] jeliasson commented on #26
Neat!

Running some tests now with `galexrt/healthchecks:latest`. Getting back to you soon.

[2020-02-23 00:11] jeliasson commented on #26
There is something that is acting up. Worth mentioning is that I'm deploying this to Kubernetes, but besides some minor permissions issues it should not be this hard.

Currently I'm struggling with the `/healthchecks` being empty at first run, which requires me to clone `healthchecks/healthchecks` manually. After that I get the error message below, without any `healthchecks/hc/local_settings.py` b

[2020-02-23 00:43] galexrt commented on #26
You shouldn't need to copy in the local_settings.py that is just a "warning" which is completely okay in this case.

I have pushed some improvements to `master` and tagged it as `v1.13.0-0`. The images should be available in like 30 minutes or so.

***

Are you mounting the `/healthchecks` direcotry somewhere? Using the latest Docker image there is no need to do any manual steps so you seem to mou

[2020-02-23 00:58] jeliasson commented on #26
Seems to have been built, but Docker Hub is missing the tag. Can you please tag it manually?

Yes. Is there no need to mount? I got confused by the [volume mapping](https://github.com/galexrt/docker-healthchecks/commit/3e76392a04163936c236f69dce6893f6e3c4f7cc#diff-04c6e90faac2675aa89e2176d2eec7d8R149).

[2020-02-23 02:34] #26 closed

[2020-02-23 11:00] galexrt commented on #26
@jeliasson Yeah those mounts shouldn't be there. I have updated the README to fix the unnecessary mounts and added some more info regarding configuration.

[2020-02-25 22:04] jimmybrancaccio opened #27 "Issue with Fonts/Static Items"
This may be related to bf85f25 but I am not positive. I'm getting 404 errors on font files:

<img width="1680" alt="Screen Shot 2020-02-25 at 4 03 28 PM" src="https://user-images.githubusercontent.com/405585/75291719-6236a900-57e8-11ea-9c0d-f602dedbefee.png">

I see this from the Nginx logs:

[code]

and in the other log I see:

[code]

Any ideas?

Also I've noticed I believe this breaks the logo

[2020-02-26 06:52] galexrt commented on #27
Post the `docker run` or `docker-compose.yml` you use to run docker-healthchecks.
Which Docker image tag are you running?

Post the whole container logs after a `docker stop`, `docker rm` and docker run` (same goes for docker-compose).

[2020-02-26 10:20] jimmybrancaccio commented on #27
Okay, after looking at my `docker-compose.yml` bit and then looking back at the README, it looks like a few things changed. I removed a couple of my volumes, specifically one that binded to `/healthchecks` and `/data` in the container and removed those. Then restarted the container and now it seems to be happier. Fonts and images are loading properly now. I think we can consider this one closed 😄

[2020-02-26 10:43] #27 closed

[2020-03-04 09:14] cuu508 commented on #25
@riderx I'd like to understand the problem you're trying to solve a little better (mainly, why are you using an iframe?) I also think this is not an issue in the Docker image, let's discuss it in healthchecks/healthchecks#326

[2020-03-19 16:03] riderx commented on #25
It work now i close it

[2020-03-19 16:03] #25 closed

[2020-03-19 16:07] BobCashStory opened #28 "v1.13.0-0 does not contain the change from changelog"
Show sub-second durations with higher precision, 2 digits after decimal point (#321)
<img width="768" alt="Screenshot 2020-03-19 at 17 05 41" src="https://user-images.githubusercontent.com/47117399/77087850-e35a1800-6a03-11ea-8833-5a480a75c560.png">

Replace the gear icon with three horizontal dots icon (#322)
Add a Pause button in the checks list (#312)
<img width="1350" alt="Screenshot 2020-03-1

[2020-03-19 17:08] galexrt commented on #28
During the build the tag `v1.13.0` is checked out, so it should be there.

Not sure why it isn't.. I'll look into doing a `v1.13.0-1` to see if it is in there.

[2020-03-19 17:16] BobCashStory commented on #28
i have try with latest and same result :/

[2020-03-21 09:41] galexrt commented on #28
@BobCashStory Could you check if the image tag `v1.13.0-1` includes the change from healthchecks/healthchecks v1.13.0?

[2020-03-22 23:42] BobCashStory commented on #28
Still same in my side

[2020-03-25 22:09] galexrt commented on #28
@BobCashStory Then I can't really do anything for you here.
The image is checking out the `v1.13.0` tag during build so..

Is that a toggle-able option or something that needs specific setup?

[2020-03-29 08:10] BobCashStory commented on #28
@galexrt no it's in the changelog, weird :/

[2020-04-16 16:56] galexrt commented on #28
@BobCashStory I have pushed a new version with healthchecks v1.14.0 release.

Could you check that Docker image, tag is `v1.14.0-0`. Should be built in the next 20-40 minutes.

[2020-04-28 14:43] BobCashStory commented on #28
Did it, nothing change, i'm sorry i don't understand it you wanna see it health.cashstory.com

[2020-04-30 22:36] BobCashStory commented on #28
@galexrt lol i just dicover you changed all env vars there .... https://github.com/galexrt/docker-healthchecks/commit/3e76392a04163936c236f69dce6893f6e3c4f7cc now i understand why nothing work well on my side

[2020-04-30 22:39] galexrt commented on #28
@BobCashStory Ah sorry, I thought I created a GitHub release, especially mentioning that change. Healthchecks projects reads from env vars in its settings.py / config file since 1-2 releases ago.

So I removed my custom logic for configuring the local_settings.py file to make it less error prone.

[2020-04-30 23:05] BobCashStory commented on #28
Yep it look to work now ! Thanks

[2020-04-30 23:11] #28 closed

[2020-06-20 10:10] msebald opened #29 "Receiving Emails"
Hi,

how can I start the smtp daemon described [here](https://github.com/healthchecks/healthchecks#receiving-emails) inside the docker container?

I tried the following:
_docker exec -it containerid python3 /healthchecks/manage.py smtpd --port 2525_
This worked, but my command prompt was stuck and Ctrl-C terminates the smtp daemon.

Then I tried it in docker-compose.yml:
_command: python3 /healthc

[2020-06-20 12:33] galexrt commented on #29
@msebald I have pushed https://github.com/galexrt/docker-healthchecks/commit/3b119e6beca2043d46cd5bc1189e54f3073de4c9 to implement that the smtpd service will be automatically start.

In a few minutes the following Docker image tag `v1.15.0-20200620-143251-752` will be available containing this change.

[2020-06-20 18:42] msebald commented on #29
@galexrt Thank you for the quick fix/update. Works! :-) I will close the issue now. Thank you again!

[2020-06-20 18:42] #29 closed

[2020-06-20 22:30] sylvaindd opened #30 "Internal Server Error with v1.15.0-20200620-143251-752"
Hi,

I'm having an internal server error when I try to access the website after upgrading to v1.15.0-20200620-143251-752.

Rolling back to v1.15.0-20200618-123207-243 solves the problem.

There is no error in the default output (DEBUG is enabled), and I couldn't find any in the container logs (maybe I didn't find the right log file) :

Compressed 20 block(s) from 102 template(s) for 0 context(s).

[2020-06-20 23:38] galexrt commented on #30
@sylvaindd Check inside the container in the `/var/log/` directory (see https://github.com/galexrt/docker-healthchecks/blob/master/includes/supervisor/supervisord.conf#L12 and the other `stdout_logfile` and `stderr_logfile` file paths).

[2020-06-21 10:40] sylvaindd commented on #30
Well it seems the problem is between my reverse proxy (traefik) and the app.
I guess it's because you added another port in the EXPOSE clause.

I added the container target port in traefik conf and it's working again.

Thank you

[2020-06-21 10:40] #30 closed

[2020-06-21 18:02] samuel-p opened #31 "Healthcheck not working with ALLOWED_HOSTS"
The [`HEALTHCHECK`](https://github.com/galexrt/docker-healthchecks/blob/master/Dockerfile#L37) does not work if you set the `ALLOWED_HOSTS` environment variable.

If set calling http://localhost:8000 will result in a `400 Bad Resuest` and the container won't start. removing `ALLOWED_HOSTS` from environment fixes it, but is not permanent solution in my opinion.

[2020-06-21 18:42] galexrt commented on #31
@samuel-p Can you check what happens if you add `localhost` to the `ALLOWED_HOSTS` list?

[2020-06-21 18:52] samuel-p commented on #31
@galexrt yes, if I add `localhost` to the `ALLOWED_HOSTS` list, it works.

[2020-06-23 14:21] galexrt commented on #31
@samuel-p Do you see that as a valid solution to add `localhost` to the examples, etc, to include `localhost` by default?

[2020-06-23 16:22] samuel-p commented on #31
For me it's a valid solution, but I think it would be important to add a small note to the setup docs, if someone else has the same problem.

[2020-06-23 22:29] galexrt commented on #31
@samuel-p I have updated the README and examples to have `localhost` included in the examples + added a note to the `ALLOWED_HOSTS` var description table.

Resolved by 6681abc607d4d1003a9d00a05ece3b80a71ccd87.

[2020-06-23 22:29] #31 closed

[2020-07-07 14:56] jimmybrancaccio opened #32 "Using settelegramwebhook Doesn't Appear to Work"
I may have had this working previously, but I can't remember. Nonetheless I setup a new Telegram bot, and setup the `TELEGRAM_BOT_NAME` and `TELEGRAM_TOKEN` environment variables. Then I used the manage.py command as noted in the docs, but get the following:

[code]

I'm not positive what it's 404'ing on. I do know that `local_settings.py` does not exist though, at least not in `/healthchecks/hc/`

[2020-07-08 21:16] galexrt commented on #32
@jimmybrancaccio Not really. Make sure you have followed https://github.com/healthchecks/healthchecks#telegram.

Also have you tried setting `DEBUG: "true"` as an env variable to see if there is any debug output?

Otherwise maybe check with the healthchecks/healthchecks project issue list / board and / or create an issue there about the 404 error.

[2020-07-11 14:51] jimmybrancaccio commented on #32
Hey, sorry about the delay in getting back to you on this issue. Busy week! That said, it looks like an issue with the Healthchecks code, probably in `hc/api/management/commands/settelegramwebhook.py`.

Running a cURL command from the container allows it to work:

[code]

I'll get an issue created on their GitHub repo.

[2020-07-11 15:34] galexrt commented on #32
@jimmybrancaccio Thanks for getting back to me and creating the upstream issue!

Feel free to mention and / or comment the upstream issue here.

[2020-07-12 04:47] jimmybrancaccio commented on #32
Hey @galexrt, yes absolutely. I meant to do that but I got sidetracked by a zillion other things haha

https://github.com/healthchecks/healthchecks/issues/400

[2020-07-14 18:46] jimmybrancaccio commented on #32
Alright, so I think it was something in #19 that caused me to setup the ENV variable for my Telegram token as such:

`HC_TELEGRAM_TOKEN=""123456789:AGHJDGHJD_HJAKJH8987dKJHKbb""`

which didn't work, so I just removed the double double quotes:

`HC_TELEGRAM_TOKEN=123456789:AGHJDGHJD_HJAKJH8987dKJHKbb`

and re-reran the command and it worked fine at that point:

[code]

So unless if I did the ENV va

[2020-07-15 07:11] galexrt commented on #32
@jimmybrancaccio Right, the env vars don't `HC_` in front of them anymore as the `healthchecks` settings files now check the env vars for their vars.

[2020-07-15 07:11] #32 closed

[2020-07-15 14:12] jimmybrancaccio commented on #32
@galexrt Ah my apologies, that was my `.env` output, not what I was actually sending too the container. My `docker-compose.yml` has:

[code]

and my `.env` file now has (without the double double quotes):

[code]

[2020-07-15 15:28] galexrt commented on #32
@jimmybrancaccio So the issue is not resolved with using the env vars in the container without the `HC_` prefix?

[2020-07-15 15:39] jimmybrancaccio commented on #32
No, it is resolved, I just wanted to clarify I wasn't sending environment variables with the `HC_` prefix 😝 I just use the `HC_` prefix in my `.env` file to help differentiate everything else I have in the `.env` file.

[2020-07-15 16:21] galexrt commented on #32
Go it, thanks for clarifying!

[2020-07-17 05:31] harrixon opened #33 "SITE_ROOT not working with static files?"
I am serving the app with NGINX at `https://$static_ip/healthchecks`, the web page loads but not static files.

With `SITE_ROOT` set as `https://$static_ip/healthchecks`, I suppose the static file url would be
`/healthchecks/static/css/bootstrap.css` but instead it's just `/static/css/bootstrap.css`.

What changes should I make?

Thanks in advance.

[code]

[code]

[2020-07-17 07:40] galexrt commented on #33
Running healthchecks on a subpath doesn't seem to be really working / supported, see https://github.com/healthchecks/healthchecks/issues/382.
You could try setting the options as mentioned by the issue creator and the comments to see if that works for you.

[2020-07-24 07:21] harrixon commented on #33
It doesn't work, I'm going to host it separately.
Closing for now.

[2020-07-24 07:21] #33 closed

[2020-09-18 01:51] chrismast opened #38 "Cannot reach container"
Hi Galexrt,
Just tried to setup the healthchecks container via docker-compose whereas somehow I cannot reach the container, neither by IP:8080 nor by subdomain.domain.com or subdomain.domain.com:8080. Postgres DB connection seems to be ok as I can see connections and the container also seems to start up and not shut down.
Wondering if you could check my docker-compose in case I miss anything?

I r

[2020-09-18 01:59] chrismast commented on #38
Solved it myself just now, port assignment was wrong...sorry

[2020-09-18 01:59] #38 closed

[2020-10-02 13:23] CodeSmolder opened #39 "Custom Logo"
Hi,

how can I set a my custom Logo in the upper left corner of the application?

<img width="504" alt="image" src="https://user-images.githubusercontent.com/37299230/94927820-160cbf00-04c3-11eb-8abb-0224619b1c00.png">

Is there a good way to do this without changing the Dockerfile?

[2020-10-02 16:00] galexrt commented on #39
As was answered in #22 there is no option in the healthchecks/healthchecks project to change the logo image / url "on the fly" by env var or so.

See https://github.com/healthchecks/healthchecks/issues/323.

[2020-10-02 16:00] #39 closed

[2020-10-04 16:40] Rustymage opened #40 "Image issues - Please Support"
Hi All,

I'm having issues with a self hosted version of the software.

Details of the version I'm having issues with and the log I have showing what I hope is the reason...

ID | sha256:75eff274f174951708cb86a4c5e4fbe75e0c454a4a968b6b44b5506171f039ce
Size | 631.1 MB
Created | 2020-09-02 19:32:02
Build | Docker 19.03.8 on linux, amd64

I'm not getting this issue with the previous build, dated 11th

[2020-10-04 16:56] galexrt commented on #40
@Rustymage Post your docker-compose.yaml or `docker run` command.

[2020-10-04 17:05] Rustymage commented on #40
`docker run -d --name bitwarden -v /bw-data/:/data/ -p 76:80 -e SIGNUPS_ALLOWED=false -e ADMIN_TOKEN=TOKEN SMTP_HOST=smtp.gmail.com -e SMTP_FROM=ADDRESS@gmail.com -e SMTP_PORT=587 -e SMTP_SSL=true -e SMTP_USERNAME=ADDRESS@gmail.com -e SMTP_PASSWORD=PASSWORD  bitwardenrs/server:latest
`

I use Portainer for management of containers, so I ran the above a few images ago. For this image (broken) and t

[2020-10-04 17:08] swoga commented on #40
Sorry I think my PR broke this.
I think you need to add the `CONTAINER_PRUNE_INTERVAL` environment variable for the image to work.

[2020-10-04 17:11] Rustymage commented on #40
I'll check & report back, thanks!

[2020-10-04 17:14] galexrt commented on #40
@swoga Let's add it to the `entrypoint.sh` to in the future have all custom env var defaults there.

Are you going to create a PR?

[2020-10-04 17:17] swoga commented on #40
@galexrt Yes, I will create a PR

[2020-10-04 18:48] #40 closed

[2020-10-06 10:44] galexrt commented on #40
I have finally gotten the time to push a new tag, it should be built soon and available under: `v1.16.0-20201006-124445-270`.

[2020-10-09 11:51] CodeSmolder opened #42 "No E-Mail Notifications will be send on up or down of check but testing the email integration works"
Hi,

I am running healthchecks as a daemon using a docker-compose.yml file which looks as follows:
[code]

E-Mail notifications worked properly but after a few days suddenly no more notification emails (up or down of a check) were sent by healthchecks any more. Docker logs show a traceback which seams to show up on every notification attempt:

[code]

I checked the running processes and ```/usr/bi

[2020-10-09 12:38] galexrt commented on #42
Does your machine still enough space? `No space left on device`

Post the `df -h` of your host.

[2020-10-09 12:51] CodeSmolder commented on #42
[code]

[2020-10-09 17:33] Rustymage commented on #40
Hi,

I have used this container and it now won't let me login.

How can I assist to demonstrate whta might have gone wrong?

Thanks.

[2020-10-09 17:58] galexrt commented on #40
@Rustymage You need to register / create an user for that you either need to have working SMTP configured or using the `manage.py` to create a superuser, e.g., https://github.com/galexrt/docker-healthchecks#create-healthchecks-superuser.

[2020-10-09 18:00] galexrt commented on #42
@CodeSmolder Exec into the container and run `df` there, the `supervisor` program runs healthchecks and such so it probably is related to the low percent of storage available, e.g., different volume / mounts are used for / inside the container.

Make sure quotas and such don't affect the volume(s) and container(s) you have running.

[2020-10-09 18:01] Rustymage commented on #40
I already have a working configuration and was upgrading so I wouldn't expect to start fresh or create a new user.

Have I misunderstood?

[2020-10-09 18:03] galexrt commented on #40
@Rustymage What database are you using? If you are using sqlite, have you used a volume?

[2020-10-09 18:09] Rustymage commented on #40
I have used the default sqlite. I have 1 volume:

/data

[2020-10-09 18:12] galexrt commented on #40
What is your `docker run` command and / or environment variables? (Redact secrets from them).

If you have used a very very old image version, the env vars are not prefixe with `HC_` anymore, see https://github.com/galexrt/docker-healthchecks#running-the-image for an example `docker run` command.

[2020-10-09 18:15] Rustymage commented on #40
I'm afraid to say I don't have my run command as I've not saved it. I use Portainer to manage.

Here's the env variables.
<img width="837" alt="Screenshot 2020-10-09 at 19 13 24" src="https://user-images.githubusercontent.com/19926955/95617683-b9317b80-0a63-11eb-9783-8514960ef85e.png">

[2020-10-09 18:16] galexrt commented on #40
Ah as written you need to remove the `HC_` from the environment variables.

[2020-10-09 18:16] Rustymage commented on #40
Thanks!

[2020-10-09 18:21] galexrt commented on #42
@CodeSmolder Also have you already tried to recreate the container itself? Maybe the container's root fs is full. How long is / was the container running?

[2020-10-11 16:47] CodeSmolder commented on #42
[code]

I have not quotas set, so there should be not affect on volume(s) and container(s)

[2020-10-11 16:48] CodeSmolder commented on #42
I recreated the container and then it worked again with no problem.

The container was running about a week before when the error occurred.

[2020-10-17 08:15] Rustymage commented on #40
Just wanted to follow up @galexrt and say thanks for the help. I got it all working on the latest image with data intact.

[2020-10-19 12:31] #42 closed

[2020-10-19 12:32] galexrt commented on #42
@CodeSmolder I have pushed a commit to lower the log sizes that supervisord will keep, that may solve the issue for good.

The image tag `v1.17.0-20201019-143145-678` should become available in the next 15-30 minutes.

[2020-10-19 13:00] CodeSmolder commented on #42
@galexrt: thank you :)

[2020-10-20 14:07] Kikobeats opened #45 "It doesn't work"
I'm trying to get the project running in the minimal environment

<img width="1440" alt="Screen Shot 2020-10-20 at 16 05 53" src="https://user-images.githubusercontent.com/2096101/96597494-32479300-12ee-11eb-9739-729c007741d9.png">

Not sure what I'm doing wrong, the server is unreachable – any idea? 😰

[2020-10-20 14:12] swoga commented on #45
Please show your `docker run` command or `docker-compose.yml` and the output of `docker ps`.

[2020-10-20 14:15] galexrt commented on #45
@Kikobeats It isn't recommended to use `latest` tag, please use, e.g., `v1.17.0-20201019-143145-678` tag.

In addition to that there is no need to custom build the image, unless needed. The Dockerfile of this project already has an `EXPOSE ...` in it.
Your `docker run` still needs to publish / expose the ports by one of the available flags for that.

[2020-10-21 08:23] Kikobeats commented on #45
@swoga I'm running using a Dockerfile, I understand the project is ready for that.

@galexrt  `latest` is as valid as the version you did mention.

When I run using `docker run`, logs look ok:

[code]

I can see the process is running with `docker ps`:

[code]

but trying to access to `http://localhost:8080` doesn't have any effect.

[2020-10-21 08:30] swoga commented on #45
The port mapping `0.0.0.0:8080->80/tcp` is incorrect, you need to change it to  `0.0.0.0:8080->8000/tcp`.
Nginx listens on port 8000 inside the container.

[2020-10-21 11:27] Kikobeats commented on #45
now we are in sync!

The problem is, I'm using IBM Cloud CloudFroundry, and necessary the traffic needs to be exposed over 8080 port.

Could be possible a way to customize the port used?

[2020-10-21 15:28] galexrt commented on #45
You can't change the application port in IBM Cloud CloudFoundry?

Technically it is possible to change the port during start in the `entrypoint.sh` script in the `nginx.conf` file, I'm happy to review a PR to add this as a feature.

If you build the container yourself, you should be able to use `sed` to replace the port `8000` in the nginx.conf here: https://github.com/galexrt/docker-healthchecks/

[2020-10-21 15:30] Kikobeats commented on #45
Thanks for the help 🙂

[2020-10-21 15:30] #45 closed

[2021-08-11 08:40] WooDeNDark opened #51 "bump version to v1.22.0"

[2021-08-20 07:48] #51 closed

[2022-03-03 00:17] P4sca1 opened #58 "Missing tag v1.25.0"
The tag v1.25.0 is missing from Quai.io and Docker Hub.

[2022-03-03 12:31] galexrt commented on #58
The image tags that are being published have the date added to them, e.g., see https://github.com/galexrt/container-healthchecks/tags and https://quay.io/repository/galexrt/healthchecks?tab=tags&tag=latest

The v1.25.0 is missing right now, I'll look into why that moving tag isn't created anymore.

Docker Hub is not updated anymore, see https://github.com/galexrt/container-healthchecks#container-h

[2022-03-03 13:00] galexrt commented on #58
I have resolved the issue, v1.25.0 is now available on ghcr.io and quay.io

[2022-03-03 13:00] #58 closed

[2022-03-05 02:04] P4sca1 opened #59 "Container healthcheck not working"
The container exits every few seconds / minutes. The log shows the following:
[code]

I am using the tag v1.25.0

[2022-03-05 02:10] P4sca1 commented on #59
I found out that the reason for this is, that the `HEALTHCHECK`, which is defined in the `Dockerfile` does not work.
I have configured my host to automatically restart containers when they get unhealthy.

[2022-03-05 02:12] P4sca1 commented on #59
You can verify this using `docker ps`. The healthchecks container always stays at `(health: starting)`.

[2022-03-06 09:31] galexrt commented on #59
@P4sca1 I'm unable to reproduce the issue with the container being unhealthy.

[code]

Could you please try increasing the `--tries=` flag for the `HEALTHCHECK` `wget` command in a custom built version of the image?

[2022-03-09 12:04] P4sca1 commented on #59
I tried running the healthcheck command manually inside the container and this is the output:
[code]

[2022-03-09 12:11] swoga commented on #59
Does the Web UI work?
Can you show us your docker-compose.yml?

This looks like a problem with `healtchecks` itself.

[2022-03-09 12:18] P4sca1 commented on #59
Yes, the WebUI works. I am running it behind a Nginx proxy. Here's my `docker-compose.yml`:

[code]

[2022-03-09 12:20] P4sca1 commented on #59
Removing `ALLOWED_HOSTS` fixes the issue. I am currently trying to find out, what needs to be added to the list in order to allow connections from inside the container.

[2022-03-09 12:21] swoga commented on #59
`ALLOWED_HOSTS` must include `localhost`, see: https://github.com/galexrt/container-healthchecks#environment-configuration-variables

[2022-03-09 12:25] P4sca1 commented on #59
Thank you, I missed that one in the README. After adding `localhost` to `ALLOWED_HOSTS`, the healthcheck is working.

[2022-03-09 12:25] #59 closed

[2022-06-12 15:29] Meuschke23 opened #60 "bump version to v2.1"
https://github.com/healthchecks/healthchecks/releases/tag/v2.1

[2022-06-12 20:45] #60 closed

[2022-06-12 20:46] galexrt commented on #60
New v2.1 tagged images should be available in the next few minutes.

[2022-10-19 10:40] louissegal opened #62 "Bump to ver 2.4.1"
As per
https://github.com/healthchecks/healthchecks/releases/tag/v2.4.1

Let me know if you'd prefer me to make PR

:)

[2022-10-19 15:28] louissegal commented on #62
Done per https://github.com/galexrt/container-healthchecks/pull/63

[2022-10-19 15:28] #62 closed